:host {
  position: relative;
  display: block;
  height: var(--altura-barra-ferramentas);
  background: var(--degrade-barra-ferramentas);
  overflow: hidden;
  user-select: none;
}

.botoes {
  position: absolute;
  inset: 0;
}

.botao {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: calc(var(--x) * 1rem);
  translate: -50% -50%;
}

.controles-janela {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-end: 0;
  width: 7.5rem;
  height: 1.5rem;
  translate: 0 -50%;
  fill: none;
  stroke: var(--cor-controle-janela);
  stroke-width: 1.2;
}
